@import "./header.css";
@import "./first_block.css";

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr 5fr 5fr 8fr 3fr 3fr;
  background-color: rgb(228, 244, 248);
}
